html {
    background: wheat;
}

body {
    background-color: #e3e3e3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    border-top: 10px solid #242424;
    color: #242424;
}

h1 {

}

p {

}

#blog {

}

.blog-post {

}